<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<h2>Reviews</h2>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <strong>Rating:</strong> <%= review.rating %> - <%= review.content %>
    </li>
  <% end %>
</ul>

<h3>Add Review</h3>
<%= render 'reviews/form', restaurant: @restaurant, review: @review %>
<%= link_to 'Volver', restaurants_path, class: 'btn btn-secondary' %>
